
  <nav>
    <ul>
        <li><a href="/superheroes/inicio"><i class="fas fa-home"></i> Inicio</a></li>
        <li><a href="/superheroes/agregar"><i class="fas fa-users"></i> Ver Todos los Héroes</a></li>
        <li><a href="/superheroes"><i class="fas fa-plus"></i> Agregar Héroe</a></li>      
    </ul>
  </nav>